html {

    padding: 0;
    
    margin: 0;
    
    }
    
    body {
    
    padding: 0;
    
    margin: 0;
    
    }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar ul {
    list-style-type: none;

}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 300px;
}

.top h1 {
    font-family: "Courier new", Courier, sans-serif;
    font-size: 30px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.topleft {
    width: 310px;
}

.top button {
    font-weight: bold;
    height: 30px;
    width: 90px;
    color: white;
    background-color: #3882F6;
    border-radius: 5px;
    border: none;
}

.top p {
    color: rgba(255, 255, 255, 0.76);
}

.top img {
    width: 450px;
    height: 200px;
    background-color: #E5E7EB;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    gap: 30px;
}

.card img {
    width: 100px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.cards p {
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    height: 300px;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote h4 {
    align-self: flex-end;
}

.top,
.header,
footer {
    background-color: #1F2937;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #3882F6;
}

.leftcta {
    width: 500px;
}

.cta button {
    font-weight: bold;
    height: 30px;
    width: 90px;
    color: white;
    background-color: #3882F6;
    border-radius: 5px;
    border: none;
}

body {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    justify-content: center;
}